#all{
    width: 1920px;
    height: 1800px;
    background: silver;
    display: flex;
    flex-wrap: wrap;


}
.a{width: 600px;
    height: 800px;
    background: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
margin-right: 250px;
}
.b{width:600px;
    height: 800px;
    background: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
margin-right: 50px;
    margin-left: 250px;
}
.c{
width:1700px;
    height:500px;
    background: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    margin-left:50px;
}
.d{
width: 500px;
    height: 400px;
    background: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
margin-left: 50px;
    margin-top: -40px;
}
.e{
    width: 500px;
    height: 400px;
    background: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -40px;
}
.f{
    width: 500px;
    height: 400px;
    background: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: -40px;
}