 #all{

     width: 1920px;
     height: 1500px;
     background: white;
     display: flex;
     flex-wrap: wrap;
 }
 .a{
     width: 1920px;
     height: 500px;
     background: silver;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .b{
width: 1250px;
     height: 400px;
     background: silver;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .c{
     width: 385px;
     height: 400px;
     background: silver;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: -450px;

 }
 .d{
     width: 385px;
     height: 400px;
     background: silver;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: -450px;
     margin-left: 48px;
     margin-right: 48px;

 }
 .e{
     width: 385px;
     height: 400px;
     background: silver;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: -450px;

 }
 .f{
width: 600px;
     height: 850px;
     background: silver;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: 40px;
 }



